/* inputclass.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

select {
    border-width: 2px;
    font-size: large;
}

label {
    display: inline-block;
    width: 100px;
    vertical-align: top;
}

/* .container {
    display: flex;
    justify-content: space-between;
    
} */

.frame {
    width: 48%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    position: relative;
}


.frame h2 {
    margin-top: 0;
}

.buttons {
    text-align: right;
    margin-top: 20px;
}

.buttons button {
    margin-left: 10px;
}

.class-item {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.class-item:hover {
    background-color: #e0e0e0;
}

.subject-item {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    cursor: move;
  }
  
  .subject-item:hover {
    background-color: #e0e0e0;
  }
  
  .frame {
    margin-bottom: 20px;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .buttons button {
    margin-right: 10px;
  }
  
  #registerBtn,
  #confirmBtn {
      position: absolute;
      bottom: 10px;
      right: 10px;
      font-size: medium;
  }

  #imputdata{
    width: 200px;
    height: 40px;
    font-size: large;
  }

  #composition{
    width: 200px;
    height: 40px;
    font-size: large;
  }

  
.container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

/* header, footer {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 20px 0;
} */
h1 {
  color: #f9f9f9;
  text-align: center;
}